/* Museo WebFont */

@font-face {
  font-family: "Museo";
  src: url("../fonts/museo100-regular-webfont.eot");
  src: url("../fonts/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/museo100-regular-webfont.woff2") format("woff2"),
    url("../fonts/museo100-regular-webfont.woff") format("woff"),
    url("../fonts/museo100-regular-webfont.ttf") format("truetype"),
    url("../fonts/museo100-regular-webfont.svg#museo100") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  src: url("../fonts/museo300-regular-webfont.eot");
  src: url("../fonts/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/museo300-regular-webfont.woff2") format("woff2"),
    url("../fonts/museo300-regular-webfont.woff") format("woff"),
    url("../fonts/museo300-regular-webfont.ttf") format("truetype"),
    url("../fonts/museo300-regular-webfont.svg#museo300") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  src: url("../fonts/museo500-regular-webfont.eot");
  src: url("../fonts/museo500-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/museo500-regular-webfont.woff2") format("woff2"),
    url("../fonts/museo500-regular-webfont.woff") format("woff"),
    url("../fonts/museo500-regular-webfont.ttf") format("truetype"),
    url("../fonts/museo500-regular-webfont.svg#museo500") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  src: url("../fonts/museo700-regular-webfont.eot");
  src: url("../fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/museo700-regular-webfont.woff2") format("woff2"),
    url("../fonts/museo700-regular-webfont.woff") format("woff"),
    url("../fonts/museo700-regular-webfont.ttf") format("truetype"),
    url("../fonts/museo700-regular-webfont.svg#museo700") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  src: url("../fonts/museo900-regular-webfont.eot");
  src: url("../fonts/museo900-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/museo900-regular-webfont.woff2") format("woff2"),
    url("../fonts/museo900-regular-webfont.woff") format("woff"),
    url("../fonts/museo900-regular-webfont.ttf") format("truetype"),
    url("../fonts/museo900-regular-webfont.svg#museo900") format("svg");
  font-weight: 900;
  font-style: normal;
}
