/* Base */

body {
    font-family: 'Museo', serif;
    font-weight: 300;

    border-top: 1rem solid;
    border-image: linear-gradient(to right,
            $color1 20%,
            $color2 20%,
            $color2 40%,
            $color3 40%,
            $color3 60%,
            $color4 60%,
            $color4 80%,
            $color5 80%,
            $color5 100%) 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

strong {
    font-weight: 900;
}

a {
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        color: rgba($color2, 0.8);
        text-decoration: none;
    }
}

form {
    p {
        margin: 0;
    }

    label {
        margin-bottom: 8px;
        width: 100%;
        color: white;
    }

    input {

        &[type="text"],
        &[type="email"],
        &[type="tel"] {
            width: 100%;
            height: calc(1.5em);
            padding: 15px 8px;
            border: 2px solid white;
            border-radius: 0;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            background: transparent;
            background-clip: padding-box;
            color: white;
        }

        &[type="submit"] {
            display: block;
            margin: 0 auto;
            padding: 12px 20px;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            border-radius: 0;
            color: black;
            background: white;

            @include btn-hover($color3, white);
        }
    }

    textarea {
        width: 100%;
        max-height: 160px;
        padding: 15px 8px;
        border: 2px solid white;
        border-radius: 0;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
        background: transparent;
        background-clip: padding-box;
        color: white;
        resize: none
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        transition: background-color 5000s ease-in-out 0s;
        border: 1px solid #EEE;
        box-shadow: 0 0 0 1000px transparent inset;
        -webkit-text-fill-color: #000000;
    }

    ::placeholder,
    ::-ms-input-placeholder {
        color: rgba(white, 0.1);
    }
}