// Comments

.comments {

    .comment-list {
        padding: 0;
    }

    .comment-list,
    .children {
        list-style: none;
    }

    .comment-body {
        padding: 15px;
        margin-bottom: 1rem;
        border: 2px solid white;
        background-color: transparent;

        .comment-author {
            margin-bottom: 15px;

            .fn {
                font-size: 1.6rem;
                margin: 0 3px 0 5px;
                font-style: normal;
            }

            .says {
                font-size: 1.2rem;
            }
        }

        .comment-meta {
            margin-bottom: 15px;
        }
    }

    .comment-form {
        color: inherit;
        margin-bottom: 30px;

        input,
        textarea {
            border-color: white;
            color: inherit;
            font-size: 12px;

            @media (min-width: 576px) {
                font-size: 16px;
            }
        }
    }

    .form-submit input[type="submit"],
    .comment-reply-link {
        display: inline-block;
        padding: 0.75rem 1.2rem;
        font-size: 1.2rem;
        border: none;
        background-color: white;
        color: black;

        @include btn-hover($color2, white);
    }

    .reply {
        height: auto;
    }
}