/* Entrys */

.entry-header {

    .entry-title {
        margin-bottom: 15px;
        font-size: 2.6rem;
    }
}

.entry-content {
    @media (min-width: 992px) {
        h2 {
            font-size: 3.5em;
        }

        h3 {
            font-size: 3.25em;
        }

        h4 {
            font-size: 3em;
        }

        h5 {
            font-size: 2.75em;
        }

        h6 {
            font-size: 2.5em;
        }
    }
}