/* Navbar */

.navbar {
    border-radius: 0;

    .navbar-brand {
        img {
            max-height: 90px;
        }
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 384 384' style='enable-background:new 0 0 384 384;' xml:space='preserve' width='512px' height='512px'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Crect x='0' y='277.333' width='384' height='42.667' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFFFFF'/%3E%3Crect x='0' y='170.667' width='384' height='42.667' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFFFFF'/%3E%3Crect x='0' y='64' width='384' height='42.667' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    .navbar-collapse {
        background-color: $color1;

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            background-color: transparent;
        }
    }

    .nav-item {
        .nav-link {
            position: relative;
            color: white;
            padding: 1rem 2rem;
            text-transform: uppercase;

            &:hover,
            &:focus,
            &:active {
                color: $color2;
            }
        }

        &.active {
            .nav-link {
                color: $color2;
            }
        }
    }
}