/* Backgrounds Colors */

.bg-color-one {
    background-color: $color1 !important;
}

.bg-color-two {
    background-color: $color2 !important;
}

.bg-color-three {
    background-color: $color3 !important;
}

.bg-color-four {
    background-color: $color4 !important;
}

.bg-color-five {
    background-color: $color5 !important;
}

.bg-color-six {
    background-color: $color6 !important;
}