/* Front-end CSS */
/* Base Dir */
/* Base */
body {
  font-family: "Museo", serif;
  font-weight: 300;
  border-top: 1rem solid;
  border-image: linear-gradient(to right, #00ace3 20%, #bbd237 20%, #bbd237 40%, #ee7c2d 40%, #ee7c2d 60%, #8d63a4 60%, #8d63a4 80%, #00b3a7 80%, #00b3a7 100%) 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

strong {
  font-weight: 900;
}

a {
  color: inherit;
}
a:hover, a:active, a:focus {
  color: rgba(187, 210, 55, 0.8);
  text-decoration: none;
}

form p {
  margin: 0;
}
form label {
  margin-bottom: 8px;
  width: 100%;
  color: white;
}
form input[type=text], form input[type=email], form input[type=tel] {
  width: 100%;
  height: 1.5em;
  padding: 15px 8px;
  border: 2px solid white;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background: transparent;
  background-clip: padding-box;
  color: white;
}
form input[type=submit] {
  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  color: black;
  background: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
form input[type=submit]:hover {
  background-color: #d76211;
  color: white;
}
form textarea {
  width: 100%;
  max-height: 160px;
  padding: 15px 8px;
  border: 2px solid white;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background: transparent;
  background-clip: padding-box;
  color: white;
  resize: none;
}
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
form select:-webkit-autofill,
form select:-webkit-autofill:hover,
form select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #EEE;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #000000;
}
form ::placeholder,
form ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.1);
}

/* Layout */
/* Footer */
#footer .widget {
  display: flex;
  flex-grow: 1;
}
#footer .widget:not(:first-child) {
  margin-top: 30px;
}
#footer .widget ul, #footer .widget ol {
  list-style: none;
  padding-inline-start: 15px;
}
#footer .widget-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

/* Modules Dir */
/* Navbar */
.navbar {
  border-radius: 0;
}
.navbar .navbar-brand img {
  max-height: 90px;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 384 384' style='enable-background:new 0 0 384 384;' xml:space='preserve' width='512px' height='512px'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Crect x='0' y='277.333' width='384' height='42.667' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFFFFF'/%3E%3Crect x='0' y='170.667' width='384' height='42.667' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFFFFF'/%3E%3Crect x='0' y='64' width='384' height='42.667' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.navbar .navbar-collapse {
  background-color: #00ace3;
}
@media (min-width: 992px) {
  .navbar .navbar-collapse {
    background-color: transparent;
  }
}
.navbar .nav-item .nav-link {
  position: relative;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
.navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link:active {
  color: #bbd237;
}
.navbar .nav-item.active .nav-link {
  color: #bbd237;
}

/* Entrys */
.entry-header .entry-title {
  margin-bottom: 15px;
  font-size: 2.6rem;
}

@media (min-width: 992px) {
  .entry-content h2 {
    font-size: 3.5em;
  }
  .entry-content h3 {
    font-size: 3.25em;
  }
  .entry-content h4 {
    font-size: 3em;
  }
  .entry-content h5 {
    font-size: 2.75em;
  }
  .entry-content h6 {
    font-size: 2.5em;
  }
}

.comments .comment-list {
  padding: 0;
}
.comments .comment-list,
.comments .children {
  list-style: none;
}
.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  border: 2px solid white;
  background-color: transparent;
}
.comments .comment-body .comment-author {
  margin-bottom: 15px;
}
.comments .comment-body .comment-author .fn {
  font-size: 1.6rem;
  margin: 0 3px 0 5px;
  font-style: normal;
}
.comments .comment-body .comment-author .says {
  font-size: 1.2rem;
}
.comments .comment-body .comment-meta {
  margin-bottom: 15px;
}
.comments .comment-form {
  color: inherit;
  margin-bottom: 30px;
}
.comments .comment-form input,
.comments .comment-form textarea {
  border-color: white;
  color: inherit;
  font-size: 12px;
}
@media (min-width: 576px) {
  .comments .comment-form input,
.comments .comment-form textarea {
    font-size: 16px;
  }
}
.comments .form-submit input[type=submit],
.comments .comment-reply-link {
  display: inline-block;
  padding: 0.75rem 1.2rem;
  font-size: 1.2rem;
  border: none;
  background-color: white;
  color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.comments .form-submit input[type=submit]:hover,
.comments .comment-reply-link:hover {
  background-color: #9baf27;
  color: white;
}
.comments .reply {
  height: auto;
}

/* Pagination */
.pagination {
  margin: 0;
}
.pagination .page-item .page-link {
  color: white;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-radius: 0;
  background-color: transparent;
}
.pagination .page-item:first-child .page-link {
  border-left-width: 1px;
}
.pagination .page-item:hover {
  background-color: #f08b45;
}
.pagination .page-item:hover .page-link {
  color: white !important;
}
.pagination .page-item.active {
  background-color: white;
}
.pagination .page-item.active .page-link {
  color: #ee7c2d;
  font-weight: bold;
}

/* State Dir */
/* Logged-In */
@media (min-width: 1200px) {
  body.logged-in #navbar.fixed-top {
    top: 32px;
  }
}

/* Align Wide */
.entry-content > *:not(.alignwide):not(.alignfull),
.entry-content > * .wp-block-cover__inner-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 575.98px) {
  .entry-content > *:not(.alignwide):not(.alignfull),
.entry-content > * .wp-block-cover__inner-container {
    max-width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .entry-content > *:not(.alignwide):not(.alignfull),
.entry-content > * .wp-block-cover__inner-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .entry-content > *:not(.alignwide):not(.alignfull),
.entry-content > * .wp-block-cover__inner-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .entry-content > *:not(.alignwide):not(.alignfull),
.entry-content > * .wp-block-cover__inner-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .entry-content > *:not(.alignwide):not(.alignfull),
.entry-content > * .wp-block-cover__inner-container {
    max-width: 1140px;
  }
}
.entry-content .alignfull {
  max-width: 100%;
}
.entry-content .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .entry-content .alignwide {
    max-width: 1276.8px;
  }
}

/* Theme Dir */
/* Backgrounds Colors */
.bg-color-one {
  background-color: #00ace3 !important;
}

.bg-color-two {
  background-color: #bbd237 !important;
}

.bg-color-three {
  background-color: #ee7c2d !important;
}

.bg-color-four {
  background-color: #8d63a4 !important;
}

.bg-color-five {
  background-color: #00b3a7 !important;
}

.bg-color-six {
  background-color: #022e4f !important;
}

/*# sourceMappingURL=style.css.map */
