/* Footer */

#footer {
    .widget {
        display: flex;
        flex-grow: 1;

        &:not(:first-child) {
            margin-top: 30px;
        }

        ul, ol {
            list-style: none;
            padding-inline-start: 15px;
        }
    }

    .widget-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
    }
}