/* Logged-In */

body {

    // Fix in navbar for when user is logged in
    &.logged-in {
        #navbar.fixed-top {

            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                top: 32px;
            }
        }
    }
}